.cart-container{
    background-color: white;
    color: black;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}


.button-pay {
  background-color: #1a1a1a;
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.3s ease;

}

.button-pay:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
