.home-container {
    background-color: white;
    padding: 32px 0;
  }
  

  .home-container ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    list-style: none; 
    margin: 0;
    padding: 0;
    justify-items: center;
  }
  